.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

@keyframes coin-spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.hover-coin-spin:hover {
  animation: coin-spin 2s linear;
}
