---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import imported_image from "../assets/images/image_cv_updated.webp"; // Correct path
---


<BaseLayout title="Resume" sideBarActiveItemID="cv">

  <div class="flex items-center justify-center ">
  <div class="avatar transition ease-in-out hover:scale-[150%] block m-auto">
    <div class="w-[8.5rem]">
      <Image class="mask mask-circle" format="webp"  width={500} height={500} 
      src={imported_image} alt="Profile image" />
    </div>
  </div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>



  <div class="mb-10 text-justify">
    <b>Software Developer </b> with over 3 years of experience<br> 
    building web applications using open-source technologies such as <br>
    Node.js, Docker, Vue.js, MySQL, among others.<br>
    <br>
    As a ,<b>Software Engineer</b>, I specialize in programming logic <br>
    and adopting emerging technologies. I led the development of projects <br>
    focused on business management and process digitalization, significantly <br>
    reducing the time required to complete tasks.<br>
    <br>
    I have an advanced level of English and excel at collaborating within multicultural <br>
    teams. I am eager to contribute to <b>innovative projects</b> that drive <b>technological impact</b>.<br>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor's Degree in Software Engineering"
      subtitle="2019 to 2025 at UAEMex, Toluca, Estado de México"
    />



  </div>
  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Web Developer"
      subtitle="From February 2024 to January 2025 at Bosch, Toluca, Estado de México, México"
    >
      <ul class="max-w-md space-y-1 list-disc list-inside ">
      <li>
        Contributed to the continuous maintenance and updates of various applications within the plant, enhancing the quality and efficiency of processes critical to quality management and production monitoring.

      </li>
      <li>
        Played a key role in developing a new project to unify multiple request 
        applications into a single platform, significantly reducing processing 
        times and streamlining maintenance across the plant’s systems.

      </li>
    </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      FIRST Certificate in English (Cambridge University)
      <br>Test Score: 181 (C1)
    </li>
    <li>
      Test of English for International Communication (TOEIC)
      <br>Test Score: 925 (C1)
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="text-1xl w-full font-bold">Programming Languages</div>
  <ul class="list-disc md:columns-3 columns-2 mx-6">
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> JavaScript </span>
      <Icon name="javascript" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> Python </span>
      <Icon name="python" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> Java </span>
      <Icon name="java" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> C# </span>
      <Icon name="csharp" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> Go </span>
      <Icon name="golang" style="width: 20px; height: 20px;" />
    </li>
  </ul>
  <br>
  <br>
  <div class="text-1xl w-full font-bold">Frameworks (Backend)</div>
  <ul class="list-disc md:columns-3 columns-2 mx-6">
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> NodeJs </span>
      <Icon name="node_icon" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> Django </span>
      <Icon name="django" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> Express</span>
      <Icon name="expressJS" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> .Net Core</span>
      <Icon name="net_core" style="width: 20px; height: 20px;" />
    </li>
  </ul>
  <br>
  <br>
  <div class="text-1xl w-full font-bold">Frameworks (Frontend)</div>
  <ul class="list-disc md:columns-3 columns-2 mx-6">
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> VueJS </span>
      <Icon name="vuejs" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> ReactJS </span>
      <Icon name="reactjs" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> Angular</span>
      <Icon name="angular" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> Bootstrap </span>
      <Icon name="bootstrap" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> TailwindCSS</span>
      <Icon name="tailwindcss" style="width: 20px; height: 20px;" />
    </li>
  </ul>
  <br>
  <br>
  <div class="text-1xl w-full font-bold">Database Administration</div>
  <ul class="list-disc md:columns-3 columns-2 mx-6">
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> MySQL </span>
      <Icon name="mysql" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> PostgreSQL </span>
      <Icon name="postgres" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> ORACLE DB</span>
      <Icon name="oracledb" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> SQL Server</span>
      <Icon name="sqlserver" style="width: 20px; height: 20px;" />
    </li>
  </ul>
  <br>
  <br>
  <div class="text-1xl w-full font-bold">System Administration</div>
  <ul class="list-disc md:columns-1 columns-1 mx-6">
    <li style="display: flex; align-items: center; gap: 5px;">
      <span>  Manipulation, management, and administration of GNU/Linux-based operating systems.</span>
      <Icon name="archlinux" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> Basic operation of Cloud platforms (AWS, Linode, Google Cloud).</span>
      <Icon name="aws" style="width: 20px; height: 20px;" />
      <Icon name="googlecloud" style="width: 20px; height: 20px;" />
      <Icon name="linode" style="width: 20px; height: 20px;" />
    </li>
    <li style="display: flex; align-items: center; gap: 5px;">
      <span> Administration and operation of virtualization technologies. </span>
      <Icon name="docker" style="width: 20px; height: 20px;" />
      <Icon name="kubernetes" style="width: 20px; height: 20px;" />
    </li>
  </ul>






</BaseLayout>
