---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = Astro.props.lang ?? getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Andrés Alvir Guzmán
  </div>
  <div class="inline opacity-75 text-sm">
    {t("footer.tagline")}
  </div>
</footer>
<style></style>
