---
import { CONTACT } from "../i18n/ui";
---

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center gap-1 sticky bottom-0 bg-base-200">
  <a
    href={CONTACT.whatsapp}
    target="_blank"
    rel="noopener noreferrer"
    class="btn btn-ghost btn-sm btn-square"
    aria-label="WhatsApp"
    title="WhatsApp"
  >
    <span class="nf nf-fa-whatsapp text-xl"></span>
  </a>

  <a
    href={`mailto:${CONTACT.email}`}
    class="btn btn-ghost btn-sm btn-square"
    aria-label="Email"
    title="Email"
  >
    <span class="nf nf-md-email_outline text-xl"></span>
  </a>

  <a
    href={CONTACT.github}
    target="_blank"
    rel="noopener noreferrer"
    class="btn btn-ghost btn-sm btn-square"
    aria-label="GitHub"
    title="GitHub"
  >
    <span class="nf nf-fa-github text-xl"></span>
  </a>

  {
    CONTACT.linkedin && (
      <a
        href={CONTACT.linkedin}
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-ghost btn-sm btn-square"
        aria-label="LinkedIn"
        title="LinkedIn"
      >
        <span class="nf nf-fa-linkedin text-xl" />
      </a>
    )
  }
</div>
